* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #dce2e4;
}

.display-1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 60px;
}

.displays {
    font-family: 'Roboto Condensed', sans-serif;
    color: whitesmoke;
}

#dashform {
    background: #ECF0F1;
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
    margin-bottom: 20px;
}

#pitch {
    margin-top: 28px;
    border-radius: 5px;
    background-color: #ffffff;
}

.card-header {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #ffffff;
}

.draws img {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 50%;
    background-color: rgb(219, 213, 213)
}

.createPitch {
    padding-bottom: 40px;
    margin-bottom: 30px;
}
#back{
    margin-top: 10px;
}
#backs{
    float: right;
}
#loves {
    height:460px;
    margin-top: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    padding:4px;
    margin:4px, 4px;
}

.form-label {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
}

.text-muted {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
}

#regg {
    font-family: 'Roboto Condensed', sans-serif;
    background: #494c62;
    border: #494c62;
    color: white;
}

#jumbt {
    background: #ECF0F1;
    margin-top: 28%;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 5px 10px 18px #888888;
}

#jumbt:hover {
    background: #feb300;
    margin-top: 28%;
    border-radius: 8px;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 5px 10px 18px #888888;
}

.display-4 {
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 20px;
}

.lead,
.lead a {
    font-family: 'Comfortaa', cursive;
    font-size: 17px;
}

.leadp {
    font-family: 'Patrick Hand', cursive;
    padding-top: 15px;
}

.pitch {
    background-image: url(../img/bg/1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

}
.like,
.dislike {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: lightgreen;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
}

.qty1,
.qty2 {
    border: none;
    width: 20px;
    background: transparent;
}