/* .navbar{
    background-color: #3f4257;
} */
#mybrand{
    color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 19px;
    font-weight: 600;
}
.br {
    color: #f95631;
    padding-left: 4px;
  }
  .navbar-toggler{
      background-color:white;
      color: black;
  }
.nav-item a{
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}
.nav-item a:hover{
    color:#f95631;
}

#gits{
    border-color: white;
    background-color:white;
    color: #3f4257;
    margin-left: 8px;
    font-family: 'Roboto Condensed', sans-serif;
}
.footer{
    background-color:#494c62;
    height: 60px;
    padding: 10px;
}
.foot{
    padding: 10px;
    text-align: center;
    color:white;
}