* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
    box-sizing: border-box;
    background-color:#edf2f6;
}
.two{
    padding-bottom: 30px;
    padding-top: 30px;
}
#shortBlog{
    background-color:  #040c24;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
}
#shortBlog:hover{
    background-image: url(../img/bg/2.jpg);
    
}
.title h5{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 10px;
    font-size: 28px;
    font-weight: 800;
    color: #5252d4;
    
}
.jbody p{
    text-align: center;
    color: whitesmoke ;
    font-size:13px;
    padding-top: 10px;
}
#read{
    background-color: transparent;
    border: 1px solid white;
    color: #fff;
    font-size:12px;
}
#read:hover{
    background-color: #040c24;
    border: 1px solid #040c24;
    color: #fff;
    font-size:12px;
}
.footers{
    padding-top: 10px;
}
.f1{
    font-size: 12px;
    font-family: 'Roboto Condensed', sans-serif;
    display: inline-block;
    color: #fff;
    padding: 10px;
}
.f2{
    font-size: 12px;
    font-family: 'Roboto Condensed', sans-serif;
    display: inline-block;
    color: #fff;
}
.f1:hover{

    color: #040c24;
}
.f2:hover{
    color: #040c24;
}
.mids1{
    background-color:#38a9ff;
    border-radius: 5px;
    padding: 9px;
    margin:5px;
    font-size: 8px;
    text-align: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}
.mids1 h6,a{
    text-decoration:none;
    cursor: pointer;
}
#hov:hover{
    color:black;
}
.mids0{
    background-color:#7e5bc2;
    border-radius: 5px;
    padding: 9px;
    margin:5px;
    font-size: 8px;
    text-align: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}
.mids0 h6,a{
    text-decoration:none;
    cursor: pointer;
}
.mids{
    background-color:#7e5bc2;
    border-radius: 5px;
    padding: 9px;
    margin:5px;
    font-size: 8px;
    text-align: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}
.mids h6,a{
    text-decoration:none;
    cursor: pointer;
}
.mids2{
    background-color:#fd5d38;
    border-radius: 5px;
    padding: 9px;
    margin:5px;
    font-size: 8px;
    text-align: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}
.mids2 h6,a{
    text-decoration:none;
    cursor: pointer;
}
.mids3{
    background-color:#ffdd19;
    border-radius: 5px;
    padding: 9px;
    margin:5px;
    font-size: 8px;
    text-align: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}
.mids3 h6,a{
    text-decoration:none;
    cursor: pointer;
}
#jumbo3{
    background-color: #ffffff;
    margin-top: 15px;
    border-radius: 5px;
}
.jtop{
    padding: 15px;
}
.jtop img{
    width: 50px;
    height: auto;
    display: inline-block;
}
.jtop p{
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #525466;
    display: inline-block;
}
.jtop2{
    padding: 15px;
}
.jtop2 p{
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #525466;
}
.jtop3{
    padding: 15px;
    width: auto;
}
.jtop3 img{
    width: 100%;
    height: 250px;
    border: 2px solid #525466;
}
.jtop4{
    padding: 15px;
}
.j1{
    display: inline-block;
    color: #525466;
}
.j1,.j2{
    display: inline-block;
    color: #525466;
    font-size: 17px;
    padding:20px;
    font-family: 'Roboto Condensed', sans-serif;
}
.j1{
    display: inline-block;
    color: #525466;
    font-size: 17px;
    padding:20px;
    font-family: 'Roboto Condensed', sans-serif;
}
.j2{
    display: inline-block;
    color: #525466;
    font-size: 17px;
    padding:20px;
    font-family: 'Roboto Condensed', sans-serif;
}
.j3{
    display: inline-block;
    color: #525466;
    font-size: 17px;
    padding:20px;
    font-family: 'Roboto Condensed', sans-serif;
}
.j1:hover{
    color: #fd5d38;
}
.j2:hover{
    color: #fd5d38;
}
.j3:hover{
    color: #fd5d38;
}

#send{
    background-color:#3f4257;
    color:white;
    border: #3f4257;
}
#myform{
    display: none;
}
#jumbo4{
    background-color: #f95630;
    border-radius: 5px;
    
}
.tops{
    padding: 15px;
    text-align: center;
    padding-top: 30px;
}
.tops2{
    padding: 15px;
}
.tops2 h5{
    text-align: center;
    padding-top: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:600px;
}
.tops2 p{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color:white;
}
.tops3{
    padding: 15px;
}
#reg{
    font-family: 'Roboto Condensed', sans-serif;
    background:#fff;
    border: #494c62;
    color:#040c24;
}
.below{
    margin-top: 30px;
}
.below img{
   width: 100%;
   border-radius: 5px;
}
#dashform{
    padding-top:30px;
}
