{% extends 'base/base.html' %}

{% block profile %}
<section>

    <div class="d-flex container-fluid" lc-helper="background"
        style="height:50vh;background:url(../static/img/bg/2.jpg)  center / cover no-repeat;">
    </div>
    <div class="container p-5 bg-light" style="margin-top:-100px">
        <div class="row">
            <div class="col-md-4 text-center align-self-center">
                <div class="lc-block border-end border-2 ">
                    <div editable="rich">
                        <p class="display-4 text-secondary"><span class="br">Look!</span></p>
                    </div>
                </div><!-- /lc-block -->
            </div><!-- /col -->
            <div class="col-md-8">
                <div class="lc-block ">
                    <div editable="rich">
                        <p class="display-4">You are not going to master the rest of your life in one day. Just relax.
                        </p>
                    </div>
                </div><!-- /lc-block -->
            </div><!-- /col -->
        </div>
        <div class="row">
            <div class="col-md-9 offset-md-1">
                <div class="lc-block mt-5">
                    <div editable="rich">
                        <p class="lead text-secondary"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et
                            metus id ligula malesuada placerat sit amet quis enim. Aliquam erat volutpat. In
                            pellentesque scelerisque auctor.&nbsp;</p>
                        <p class="lead text-secondary">Ut porta lacus eget nisi fermentum lobortis. Vestibulum facilisis
                            tempor
                            ipsum, ut rhoncus magna ultricies laoreet. Proin vehicula erat eget libero accumsan iaculis.
                        </p>
                    </div>
                </div><!-- /lc-block -->
            </div>
        </div>
    </div>
</section>
<section class="two">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="jumbotron" id="shortBlog">
                    <div class="title">
                        <h5>Digital Marketing</h5>
                    </div>
                    <div class="jbody">
                        <p>
                            Any marketing that uses electronic devices to convey promotional messaging and measure its
                            impact. In practice, digital marketing typically refers to marketing campaigns that appear
                            on a computer, phone, tablet, or other device. It can take many forms, including online
                            video, display ads, and social media posts. Digital marketing is often compared to
                            “traditional marketing” such as magazine ads, billboards, and direct mail. Oddly, television
                            is usually lumped in with traditional marketing.
                        </p>
                        <div class="text-center">
                            <button type="button" id="read" class="btn btn-primary">READ MORE</button>
                        </div>
                    </div>
                    <div class="footers">
                        <p class="f1"><i class="far fa-clock"></i> Posted Date</p>
                        <p class="f2"><i class="far fa-comment-alt"></i> Comments</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="jumbotron" id="jumbo4">
                    <div class="tops">
                        <i class="fas fa-mail-bulk" style="color:white;font-size: 30px;"></i>
                    </div>
                    <div class="tops2">
                        <h5>Subscribe to our Newsletter</h5>
                        <div class="row">
                            <div class="col">
                              <input type="email" class="form-control" placeholder="Email..." aria-label="email">
                            </div>
                            <div class="col">
                              <button type="button" class="btn btn-success">Subscribe</button>
                            </div>
                          </div>
                    </div>
                    <div class="tops3">
                        <a href="/signup">
                            <button id="reg" class="btn btn-primary">Sign-Up <i class="far fa-user"></i></button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    {% for pitch in pitch %}
                    <div class="col-md-12" id="love">
                        <div class="jumbotron" id="jumbo3">
                            <div class="jtop">
                                <img src="{{ url_for('static', filename='img/1.png') }}" alt="bash" srcset="">
                                <p>{{name}}</p>
                            </div>
                            <div class="jtop2">
                                <p>
                                    {{pitch.message}}
                                </p>
                            </div>
                            <div class="jtop3">
                                <img src="{{ url_for('static', filename='img/sales-pitch.png') }}" class="img-fluid"
                                    alt="bash" srcset="">
                            </div>
                            <div class="jtop4">
                                <p class="j1"><a class="like"><i class="far fa-heart"></i> <input class="qty1"
                                            name="qty1" readonly="readonly" type="text" value="0" /> </a></p>
                                <p class="j2"><a class="dislike"><i class="far fa-thumbs-down"></i> <input class="qty2"
                                            name="qty2" readonly="readonly" type="text" value="0" /></a></p>
                                <p class="j3"><i id="comm" class="far fa-comment-alt"></i></p>
                                <p class="j3"><i id="comm" class="fas fa-clock"></i> <small
                                        class="br">{{pitch.created_at.strftime('%B %d, %Y %I:%M')}}</small></p>
                                <div class="jumbotron" id="myform">
                                    {% for likes in likes %}
                                    <div id="chat">
                                        <p><span id="names"><i class="far fa-user-circle"></i> {{name}}</span></p>
                                        <p>{{likes.comment}}</br>
                                            <span class="chat-text">{{likes.created_at.strftime('%B %d, %Y %I:%M')}} <i
                                                    class="fas fa-check-circle"></i></p>
                                        </p>
                                    </div>
                                    {% endfor %}
                                    <form action="/dashboard" method="post">
                                        {{ form.hidden_tag() }}
                                        <div class="mb-3">
                                            <label for="exampleFormControlTextarea1" class="form-label">Comment</label>
                                            {{form.comment(class="form-control")}}
                                        </div>
                                        <button type="submit" id="send" class="btn btn-primary mb-3">Send</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section> -->
{% endblock %}