{% extends 'base/base.html' %}

{% block profile %}
<section>

    <div class="d-flex container-fluid" lc-helper="background"
        style="height:50vh;background:url(../static/img/bg/2.jpg)  center / cover no-repeat;">
    </div>
    <div class="container p-5 bg-light" style="margin-top:-100px">
        <div class="row">
            <div class="col-md-4 text-center align-self-center">
                <div class="lc-block border-end border-2 ">
                    <div editable="rich">
                        <p class="display-4 text-secondary"><span class="br">Look!</span></p>
                    </div>
                </div><!-- /lc-block -->
            </div><!-- /col -->
            <div class="col-md-8">
                <div class="lc-block ">
                    <div editable="rich">
                        <p class="display-4">You are not going to master the rest of your life in one day. Just relax.
                        </p>
                    </div>
                </div><!-- /lc-block -->
            </div><!-- /col -->
        </div>
        <h4>
    </div>
</section>
<section class="ads">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron" id="advets">
                    <h4><i class="fas fa-quote-left" style="color: #ffdd19;"></i> If You Can Read This So Can Your Your
                        Audience! It Takes Seconds to <a href="/login">Log In</a> or <a href="/signup">Sign-up</a> and
                        Start Blogging. <i class="fas fa-quote-right" style="color: #ffdd19;"></i></h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="two">
    <div class="container">
        <div class="row">
            <div class="col-md-8" id="my-scroll">
                {% for user in user %}
                {% for blog in user.blog %}
                <div class="jumbotron" id="shortBlog">
                    <div class="title">
                        <h5>{{blog.title}}</h5>
                    </div>
                    <div class="jbody">
                        <p>
                            {{blog.message|truncate(500)}}
                        </p>
                        <div class="text-center">
                            <a href="/fullblog/{{blog.id}}">
                                <button type="button" id="read" class="btn btn-primary">READ MORE</button>
                            </a>
                        </div>
                    </div>
                    <div class="footers">
                        <p class="f1"><i class="far fa-clock" style="color: #f95630;"></i>
                            {{blog.created_at.strftime('%B %d, %Y %I:%M')}}</p>
                        <p class="f2"><i class="far fa-user-alt" style="color: #f95630;"></i>{{user.username}}</p>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
            </div>

            <div class="col-md-4">
                <div class="alert alert-primary" role="alert">
                    <h4 class="alert-heading">Today's Quote!</h4>
                    <p><i class="fas fa-quote-left" style="color: #ffdd19;"></i> {{quotes.quote}} <i
                            class="fas fa-quote-right" style="color: #ffdd19;"></i></p>
                    <hr>
                    <p class="mb-0" id="author"> <span class="br">By</span> {{quotes.author}}
                    </p>
                </div>
                <div class="jumbotron" id="jumbo4">
                    <div class="tops">
                        <i class="fas fa-mail-bulk" style="color:white;font-size: 30px;"></i>
                    </div>
                    <div class="tops2">
                        <h5>Subscribe to our Newsletter</h5>
                        <div class="row">
                            <div class="col">
                                <input type="email" class="form-control" placeholder="Email..." aria-label="email">
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-success">Subscribe</button>
                            </div>
                        </div>
                    </div>
                    <div class="tops3">
                        <a href="/signup">
                            <button id="reg" class="btn btn-primary">Sign-Up <i class="far fa-user"></i></button>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}