{% extends 'base/base.html' %}
{% block full %}
<section>

    <div class="d-flex container-fluid" lc-helper="background"
        style="height:50vh;background:url(../static/img/bg/2.jpg)  center / cover no-repeat;">
    </div>
    <div class="container p-5 bg-light" style="margin-top:-100px">
        <div class="row">
            <div class="col-md-4 text-center align-self-center">
                <div class="lc-block border-end border-2 ">
                    <div editable="rich">
                        <p class="display-4 text-secondary"><span class="br">Look!</span></p>
                    </div>
                </div><!-- /lc-block -->
            </div><!-- /col -->
            <div class="col-md-8">
                <div class="lc-block ">
                    <div editable="rich">
                        <p class="display-4">You are not going to master the rest of your life in one day. Just relax.
                        </p>
                    </div>
                </div><!-- /lc-block -->
            </div><!-- /col -->
        </div>
        <div class="row">
            <div class="col-md-9 offset-md-1">
                <div class="lc-block mt-5">
                    <div editable="rich">
                        <p class="lead text-secondary"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et
                            metus id ligula malesuada placerat sit amet quis enim. Aliquam erat volutpat. In
                            pellentesque scelerisque auctor.&nbsp;
                        </p>
                        <p class="lead text-secondary">Ut porta lacus eget nisi fermentum lobortis. Vestibulum facilisis
                            tempor ipsum, ut rhoncus magna ultricies laoreet. Proin vehicula erat eget libero accumsan
                            iaculis.
                        </p>
                        <h4>
                    </div>
                </div>
            </div>
        </div>
        <h4>
    </div>
</section>
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron" id="cont">
                    <div class="one">
                        <p class="f-1"><i class="far fa-user" style="color: #f95630;"></i> user</p>
                        <p class="f-2"><i class="far fa-clock" style="color: #f95630;"></i> time</p>
                    </div>
                    <p>
                        BenQ sells a wide selection of relatively low-priced LCD monitors that make it possible for
                        businesses to lower computer costs and still take advantage of the benefits of a small-footprint
                        monitor. BenQ monitors generally are as reliable as those costing more sold by other companies.
                        Still, a backlight lamp, screen or inverter in a BenQ monitor occasionally may fail and require
                        replacement. Parts for these monitors are relatively inexpensive compared to the labor fees many
                        shops charge to disassemble and repair monitors. Consequently, you can save money by performing
                        the repairs yourself. To repair a BenQ LCD monitor, you must first learn how to disassemble the
                        unit.

                        Reconnect the AC adapter to the Alienware laptop. Power on your external monitor first, then the
                        laptop. As the laptop boots, the display should appear on both the laptop screen and the
                        external monitor screen. Both screens should appear identical. Allow Windows to load completely
                        and display the desktop. Windows displays a clone of the laptop screen on the external monitor.

                        Locate the video-out port on the Alienware laptop. Depending on the model and age of your
                        laptop, it has one of three different interfaces. Older Alienware laptops have blue 15-pin video
                        ports on the rear, while newer models have white DVI ports. Some top-of-the-line models have
                        HDMI ports on the rear or side if the unit.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="jumbotron" id="chat">
                    <div class="container darker">
                        <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right" style="width:100%;">
                        <p>Hey! I'm fine. Thanks for asking!</p>
                        <span class="time-left">11:01</span><i class="fas fa-trash"></i>
                      </div>  
                </div>
                <form action="">
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                      <button type="submit" class="btn btn-success">Comment</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}