{% extends 'base/base.html' %}
{% block login %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    
</head>
<body>
    <section>
        <div class="loginBox"> <img class="user" src="{{ url_for('static', filename='img/7.png') }}" alt="bash" height="100px" width="100px"> 
            <h3>Sign in</span></h3>
            <form action="/login"method="post">
                {{ form.hidden_tag() }}
                <div class="inputBox">
                 {{ form.username(id="uname") }}
                 {{form.password(id="pass")}} 
                </div> 
                <input type="submit" name="" value="Login">
            </form>
            <div class="text-center">
                <a href="">Sign-Up</a>
            </div>
        </div>
    </section>
</body>
</html>
{% endblock %}