{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light">
  {% if name %}
    <div class="container-fluid">
      <a class="navbar-brand" id="mybrand" href="#">
        Hello <span class="br"> {{name}}</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">
        <a id="gits" class="btn btn-primary" href="/logout" role="button">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></i></a>
      </div>
      {% else %}
      <div class="container-fluid">
      <a class="navbar-brand" id="mybrand" href="#">
        Insight<span class="br"> Groove</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">
        <ul class="navbar-nav">
          <a id="gits" class="btn btn-primary" href="/login" role="button">Login <i class="fa fa-user" aria-hidden="true"></i></i></a>
        </ul>
      </div>
      {% endif %}
    </div>
  </nav>
{% endblock %}