{% extends 'base/base.html' %}

{% block dash %}

<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dash.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Patrick+Hand&family=Shadows+Into+Light&display=swap"
    rel="stylesheet">
</head>

<body>
  <section class="dash-hero">
    <div class="position-relative overflow-hidden">
      <div class="d-flex min-vh-60" lc-helper="video-bg">
        <video style="z-index:1;object-fit: cover; object-position: 50% 50%;" class="position-absolute w-100 min-vh-100"
          autoplay="" preload="" muted="" loop="" playsinline="">
          <!-- adjust object-position to tweak cropping on mobile -->
          <source src="https://cdn.dopewp.com/media/nature/video.mp4" type="video/mp4">
        </video>
        <div style="z-index:2" class="align-self-center text-center text-light col-md-8 offset-md-2">
          <div class="lc-block">
            <div editable="rich">
              <h1 class="display-1">Your Account Dashboard</h1>
              <p class="displays">
                Welcome to your account dashboard! Here you’ll find everything you need to create your blog, read
                notifications and
                delete blogs! 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="createPitch">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="card" id="pitch">
            <div class="card-header">
              Create <span class="br">New Blog</span>
            </div>
            <div class="card-body">
              <div class="draws">
                <img src="{{ url_for('static', filename='img/dash/1.png') }}" class="center" alt="bash">
              </div>
              <form action='/profile' method="POST">
                {{ form.hidden_tag() }}
                <!-- Select Option -->
                <div class="mb-3">
                  <label class="form-label" for="selectOne">Select Pitch Category</label>
                  {{form.title(class="form-control")}}
                  <span class="text-muted " style="font: size 12px;">Select the category of your pitch.
                    Available categories are; love, positive, meme and family. Love is the default category. This field
                    cannot be left null</span>
                </div>
                <!-- Text Area -->
                <div class="mb-3">
                  <label class="form-label" for="textareaInput">Textarea</label>
                  {{form.message(class="form-control")}}
                </div>
                <button id="regg" type="submit" class="btn btn-primary">Submit Pitch</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div id="loves">
            {% for pitch in pitch %}
            <div class="jumbotron" id="shortBlog">
              <div class="title">
                  <h5>Digital Marketing</h5>
              </div>
              <div class="jbody">
                  <p>
                    {{pitch.message}}
                  </p>
                  <div class="text-center">
                      <button type="button" id="read" class="btn btn-primary">READ MORE</button>
                  </div>
              </div>
              <div class="footers">
                  <p class="f1"><i class="far fa-clock"></i> {{pitch.created_at.strftime('%B %d, %Y %I:%M')}}</p>
                  <p class="f2"><i class="far fa-comment-alt"></i> Comments</p>
                  <p class="j2"><a href="" type="button" class="close" onClick="deletePitch({{pitch.id}})"><i class="far fa-trash-alt" ></i></a> </p>
              </div>
          </div>
            {% endfor %}
        </div>
        
        </div>
        <div class="row">
          <div class="col-md-12" id="back">
            <a href="/dashboard" id="backs" type="button" class="btn btn-outline-success">View All Posts</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>
{% endblock %}