{% extends 'base/base.html' %}
{% block signup %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    
</head>
<body>
    <section>
        <div class="loginBox"> <img class="user" src="{{ url_for('static', filename='img/7.png') }}" alt="bash" height="100px" width="100px"> 
            <h3>Sign Up</span></h3>
            <form action="/signup"method="post">
                {{ form.hidden_tag() }}
                <div class="inputBox">
                    <label class="form-control-label">Username</label>
                    {{form.username(class="form-control")}}
                    <label class="form-control-label">Email</label>
                    {{form.email(class="form-control") }}
                    <label class="form-control-label">Password</label>
                    {{form.password(class="form-control")}} 
                </div> 
                <input type="submit" name="" value="Sign Up">
            </form>
            <div class="text-center">
                <a href="/login">Login</a>
            </div>
        </div>
    </section>
</body>
</html>
{% endblock %}